*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

h3{
    font-size: 24px;
}

p{
    font-size: 12px;
}
div.top-header{
    padding: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

header{
    background-color: #EAC926;
}

header div.logo{
    width: 50%;
}

header div.form{
    width: 50%;
}

header div.logo{
    padding: 10px;
}
header nav{
    font-size: 14px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    display: none;

}

header nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

header ul li{
    list-style-type: none;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
}

header ul li a{
    text-decoration: none;
    color: #000;
    
}

header .form .input{
    background-color: #FFF;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 2px;
}
header .form .submit{
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    width: 10%;
}

section form .submit:hover{
    background-color: #0022AA;
}

header div.top-header p{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

div.burger-menu{
    text-align: center;
}

div.burger-menu i{
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}

.menu-tienda{
    align-self:flex-start;
}

.menu-usuario{
    align-self:flex-end;
}

.products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.price{
    font-size: 18px;
    width: 30%;
}

.discount,
.description{
    font-size: 16px;
    font-weight: normal;
}

h3,
.description{
    color: #666;
}

.description{
    display: none;
    margin-top: 20px;
}


section.banner img{
    width: 100%;
}

main{
    width: 90%;
    margin: 0 auto;
}

main section article{
    background-color: #fff;    
    margin: 10px 0px;
    width: 100%;
}

main section article:hover .description{
    display:block;
}

main section article:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);

}

main section article img{
    width: 100%;
}


main section article:hover .fa-truck{
    transform: rotate(-90deg);
    transition-duration: 1000ms;
}




main section article i,
.discount{
    color: #39b54a;
    width: 70%;
}

main section article i{
    display: block;
font-size: 16px;
padding: 5px;
width: 30px;
height: 30px;
border: 1px solid #39b54a;
background-color: #FFF;
border-radius: 50%;
position: absolute;
right: 20px;
top: -15px;
}

main section h3{
    margin: 20px 0px;
}

article div.main-article{
    width: 100%;
    border-top: 1px solid #ebebeb;
    padding: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5px;
    position: relative;/*aca vuelve el camion*/
}


    main section article{
        width: 100%;
    }
    
    footer{
        background-color: grey;
        width: 100%;
        text-align: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
       
    }
    form{
        text-align: center;
    width: 100%;
    margin: auto;
    border: solid 1px;
    padding: 10px;
    margin-top:15px;
    margin-bottom:15px;

    }

/*Tablet*/
@media (min-width: 769px){
    main section article{
        width: 48%;
    margin: 1%;
    }
    header div.logo{
        width: 33%;
    }
    
    header div.form{
        width: 33%;
        margin: auto;

    }
    header div.top-header p{
        width: 33%;
        margin: auto;

    }
    header nav{
        display: flex;
    }
    form{
        width: 60%;
    }
}
/*Desktop*/
@media (min-width: 1200px){
    main section article{
        width: 23%;
       margin: 1%;
    }
    #contenedor-header{
        max-width: 1200px;
        margin: auto;
    }
    header nav{
        display: flex;
    }
    form{
    width: 50%;
}
}